# My files
prueba.*
pruebas.*
.vscode
try_cpp/
*.exe
tempCodeRunnerFile.cpp
patterns/
graphs/
test.*
.vs/
CppProperties.json
*.o
log.txt
*.csv
*.zip
aver.txt
in_depth_study.ipynb
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so


# Jupyter Notebook
.ipynb_checkpoints

# Environments
.venv
