# My files
.vscode
test.*
*.csv
*.zip

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.clang-format

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.venv
